.container-fluid
  .row
    .col-md-6
      = render partial: 'post', locals: { post: @post, show_desc: true }

  - if user_signed_in?
    = render partial: 'comments/form', locals: { comment: @new_comment }

  .row
    .col-md-6
      .comments.box
        = render partial: 'comments/comment', collection: @root_comments, as: :comment
