// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-container {
  padding: 2em 1em;
  border-bottom: 1px solid #e9e9e9;
  
  h2 {
    padding-bottom: 0px;
  }
  small.author {
    font-size: 12px;
  }
}
